<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.highersoft.operlog.mapper.LogMapper">
    
	
	
	<insert id="saveLog">
		INSERT INTO ${tableName}(		
			log_time,
			user_id,
			user_name,
			method_name,			
			view_oper
			<foreach collection="extLog.keys" open="," separator="," item="item">
				${item}
			</foreach>
			
		) VALUES (			
			#{logTime},
			#{userId},
			#{userName},			
			#{methodName},			
			#{viewOper}
			<foreach collection="extLog.keys" open="," separator="," item="item">
				#{extLog[${item}]}
			</foreach>
		)
	</insert>
	
	<!-- test -->
	<!-- resultType="net.highersoft.test.operlog.ViolationOperLog" -->
	<select id="queryLog" resultType="map" >
		select * from ${tableName} 
		<where>
			<foreach collection="param.keys"  separator="," item="item" >
				${item}=#{param[${item}]}
			</foreach>
		</where>
	</select>
	
	
	
</mapper>